<!doctype html>
<html class="no-js">

<head>
  <!-- The first thing in any HTML file should be the charset -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Make the page mobile compatible -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>React Micro App Starter Kit</title>

  <!-- Use minimum-scale=1 to enable GPU rasterization -->
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1"
  >

  <link
    rel="stylesheet"
    type="text/css"
    href="https://dev-us-east-1-ouli-theme.stack.danteconsulting.com/0.4.0/semantic-ui.min.css"
  />

</head>

<body>
  <!-- The app hooks into this div -->
  <div id="app"></div>
</body>

</html>
